<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" type="text/css">
    <title >{% block title %} {% endblock %}</title>

    <style>
        html, body {
            height : 100%;
            background-color : #28311b;
        }
    </style>
</head>
<body>
    <header>
        <div class="row" style="background-color : #ae582d">
            <center><img src="{% static 'img/mushroom.svg'  %}" style="height:30px; width:30px"></center>
            <center><span class="color_11 wixui-rich-text__text" style="color: #fcfdf9">Hồng Đào (Totongaos)</span></center>
            <center><span class="color_11 wixui-rich-text__text" style="color: #fcfdf9"><i>chỉ là CHƯA làm được, chứ không phải không làm được</i></span></center>
        </div>
    </header>

    <div class="container-fluid" style="min-height:85%">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <center> <img src="{% static 'img/totongaos1.jpg' %}" class="responsive-img" style="width: 1400px; height: 400px; object-fit: cover; object-position: 50% 50%;"></center>
                <center><h4><span style="color: #fcfdf9">My CVs</span></h4></center>
                <center><hr width="80%"    color="#fcfdf9"    align="center"    size="4px"></center>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12" style="color:#fcfdf9">
                <center><h1>My CVs làm từ Python Django</h1></center>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <div class="bs-slidebar" style="background-color : #28311b">
                    <ul class="nav flex-column">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="container-fluid" style="color: #fcfdf9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-4" style="min-width:50%">
                <center><img src="{% static 'img/myself.jpg' %}" class="responsive-img" style="height:490px; width: 350px "></center>
            </div>
        </div>
        <br><br>
    </div>

    <footer>
        <div class="row" style="background-color : #ae582d">
                <center>
                    <a href="https://www.facebook.com/totongaos"><img src="{% static 'img/facebook.svg' %}" style="width: 20px; height: 20px; object-fit: cover;"></a>
                    | <a href="https://www.instagram.com/_erica0511/"><img src="{% static 'img/instagram.svg' %}" style="width: 20px; height: 20px; object-fit: cover;"></a>
                    | <a data-auto-recognition="true" href="mailto:hongdao05112000@gmail.com"><img src="{% static 'img/gmail.svg' %}" style="width: 20px; height: 20px; object-fit: cover;"></a>
                </center>
                <center><span class="color_11 wixui-rich-text__text" style="color: #fcfdf9">©2023 by Hong Dao (Totongaos).</span></center>
        </div>
    </footer>

</body>
</html>

