{% extends "pages/base.html" %}

{% block title %}Totongaos{% endblock %}


{% block content %}
<div class="row">
    <center><div class="col-sm-6">
        <div class="card border-light mt-5"  style="background-color:#28311b; color:#fcfdf9">
            <br><center><h1>Liên Hệ</h1></center>
            <br><br><center><h5>Bien Hoa - Dong Nai</h5></center>
            <br><center><p>hongdao05112000@gmail.com</p></center>
            <br><center><p>+84363674029</p></center><br>
        </div>
    </div></center>
    <div class="col-sm-4"></div>
</div>

{% endblock %}
