{% extends "pages/base.html" %}

{% block title %}
Totongaos
{% endblock %}


{% block content %}
<div>
    <h1>Hello</h1>
    <br>
    <h5>A Bit About Me</h5>
    <p>
        I’m so glad you’ve arrived. I'm Hồng Đào (Totongaos).
        I was born in 2000, and live in Bien Hoa city.
        I degree from Thu Duc College of Technology, and my major is Control & Automation Technology.
        Currently, I learning Python Django. I hope that I can soon improve my programming skills and master Odoo Python.
    </p>

</div>
{% endblock %}
