{% extends "pages/base.html" %}

{% block title %}{{post.title}{% endblock %}

{% block content %}

<h3><a href="blog/{{post.id}}">{{post.title}}</a></h3>
{% if post.image %}
<img src="{{ post.image.url }}" width="100px" height="60px"/>
{% endif %}
<h6>on {{post.date}}</h6>
{{post.body|safe|linebreaks}}

<!--‘comments’ chính là related_name ta đã khai báo ở models.py của app blog-->
{% for comment in post.comments.all %}
<h5><strong>{{comment.author}}</strong></h5>
<h6><p>{{comment.date}}</p></h6>
<p>{{comment.body | linebreaks}}</p>
{% endfor %}

{% if user.username %}
    <form action="{% url 'post' post.id %}" method="POST">
        {% csrf_token %}
        <p><label>Comment: </label></p>
        {{ form.body }}
        <br/>
        <input type="submit" value="Comment"/>
    </form>
{% endif %}

{% endblock %}


